---
import { siteConfig } from '../../config/site';
---

<section>
  <iframe
    src={`https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3383.1!2d${siteConfig.coordinates.lng}!3d${siteConfig.coordinates.lat}!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMzLCsDMxJzM3LjAiUyAxMTXCsDQzJzE4LjEiRQ!5e0!3m2!1sen!2sau!4v1`}
    width="100%"
    height="400"
    style="border:0;"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"
    title="Magnified SMSF Specialists Office Location"
  ></iframe>
</section>
